REDDIT_CLIENT_ID = ""
REDDIT_CLIENT_SECRET = ""
REDDIT_USERNAME = ""
REDDIT_PASSWORD = ""
REDDIT_USERAGENT = "github.com/chrisootes/reddit-masonry"

SERVER_HOSTNAME = "localhost"
SERVER_PORT = 80
PAGE_ITEM_AMOUNT = 25 

STATIC_FILES = [
    '/favicon.ico',
    '/css/bootstrap.min.css',
    '/css/bootstrap.min.css.map',
    '/js/bootstrap.bundle.min.js',
    '/js/bootstrap.bundle.min.js.map',
    '/js/masonry.pkgd.min.js',
    '/js/jquery-3.6.0.min.js',
    '/js/main.js'
]